@import url('https://fonts.googleapis.com/css2?family=Hina+Mincho&display=swap');
:root{
    --color--1: white;
    --color--2: black;
    --color--3: rgb(1, 4, 39);
}
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}
body{
    background-color: var(--color--3);
    
}
header{
    background-color: rgba(0, 0, 0, 0.363);
    width: 100%;
    height: 65px;
    display: flex;
    justify-content: space-between;
    position: fixed;
}
#logo{
    width: 100px;
    margin-top: -4px;
}
nav ul{
    display: flex;
    gap: 20px;
    font-size: 20px;
    margin-top: 22px;
    margin-right: 20px;
}
.navt{
    color: rgba(255, 255, 255, 0.74); 
    transition: 0.3s;
}
.navt:hover{
    color: white;
    font-size: larger;
}
#logoinicial{
    width: 100%;

}
.btn1{
    text-align: center;
}
#showSectionButton{
    font-size: 17px;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    color: rgba(255, 255, 255, 0.212);
    transition: all 0.4s;
    padding: 10px 10px 10px 10px;
    margin-top: -20px;
}
#showSectionButton:hover{
    cursor: pointer;
    color: rgb(255, 255, 255);
    transform: translateY(-10px);
}
.hidden{
    display: none;
}
#secao0{
    background-color: var(--color--3);
    margin-top: -6px;
    height: 500px;
}
#titulo0{
    font-family: "Hina Mincho", serif;
    color: var(--color--1);
    font-size: 60px;
    text-align: center;
}
#link0{
    color: rgb(125, 135, 241);
}
#texto0{
    color: var(--color--1);
    font-size: 25px;
    text-align: center;
    margin-top: 70px;
}
#fundolixo{
    width: 100%;
    
}
#section1{
    text-align: center;
    margin-top: -55%;
    height: 900px;
    
}
#titulo1{
    font-family: "Hina Mincho", serif;
    color: var(--color--1);
    font-size: 60px;
    text-align: center;
}
#texto1{
    color: var(--color--1);
    font-size: 35px;
    text-align: center;
    margin-top: 70px;

}
#section2{
    
    height: 600px;
    color: var(--color--1);
    text-align: center; 
}
#titulo2{
    font-family: "Hina Mincho", serif;
    color: var(--color--1);
    font-size: 60px;
    text-align: center;
}
#texto2{
    color: var(--color--1);
    font-size: 35px;
    text-align: center;
    margin-top: 70px;
}
#imgmarlimpo{
    width: 100%;
}
#section3{
    height: 600px;
    color: var(--color--1);
    text-align: center;
    
}
#titulo3{
    font-family: "Hina Mincho", serif;
    color: var(--color--1);
    font-size: 60px;
    text-align: center;
}
#texto3{
    color: var(--color--1);
    font-size: 35px;
    text-align: center;
    margin-top: 70px;
}
footer{
    margin-top: -7px;
    height: 90px;
}
#logos{
    text-align: center;
}
#o20{
    width: 100px;
}
#oc{
    width: 100px;
}
#f{
    width: 150px;
}
h4{
    text-align: center;
    color: var(--color--1);
}